ENVIRONMENT=local
PORT=5000
AUTO_MIGRATE=CHANGE_THIS

DOMAIN_CLIENT=https://localhost:4201
WSS_API=https://CHANGE_THIS.ca
AUTH_API=https://CHANGE_THIS.ca
KONG_API=https://CHANGE_THIS.ca
ADMIN_KEY=CHANGE_THIS
OGC_WSS_HOSTS='https://CHANGE_THIS.ca, https://CHANGE_THIS.2.ca'
SENTRY_DSN=CHANGE_THIS

DB_NAME=postgres
DB_SCHEMA=public
DB_USER=postgres
# Local environment only
DB_HOST=database
DB_PORT=5432
DB_SSL=disable
# Server environment
# DB_RW_USER=CHANGE_THIS
# DB_RW_HOST=CHANGE_THIS
# DB_RW_PORT=5432
# DB_RW_SSL=prefer
